<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-grid.min.css"/>
  <title>Live Lyrics</title>
</head>
<body>

<div class="container" id="main">
  <div class="row">

    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-0">
    </div>

    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

      <p id="title">Live Lyrics</p>

      <br><br><br><br>
      <br><br><br><br>

      <button (click)="Ly.log_in()" class="login-button">
        <span>Continuer avec Spotify</span>
      </button>

    </div>

    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-0">
    </div>

  </div>
</div>

</body>
